@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #293241;
  font-family: 'Barlow', sans-serif;
}

.app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
